@use 'variables' as *;
@font-face{
    font-family: 'TTLakes';
    src: url(../fonts/TTLakes/TTLakes-Regular.ttf) format("truetype");
}
.left-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100vh;
  background: $sidebar-bg;
  z-index: 100;

  display: flex;
  flex-direction: column;

  transition: transform $transition;

  &-header {
    display: flex;
    align-items: center;
    padding-top: 18px;
  }

  .servis {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 50px;

    &__item {
      display: flex;
      background: transparent;
      border: none;
      font-size: 16px;
      padding-left: 24px;
      cursor: pointer;

      &:hover {
        border-left: 4px solid $accent;
        color: $text-hover;
      }
    }
  }

  .contact-inf {
    margin-top: auto;
    margin-left: 24px;
    margin-bottom: 40px;
    color: black;

    .inf-type {
      display: flex;
      gap: 10px;
      margin-bottom: 16px;
    }

    .contact-number {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .lang {
    display: flex;
    gap: 7px;
    color: black;
    margin-left: 24px;
    margin-bottom: 32px;

    &_item {
      cursor: pointer;

      &:hover {
        color: $text-hover;
      }
    }
  }
}

.left-icon {
  margin-left: 10px;
  cursor: pointer;
}

.right-icon {
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 1119px) {
  .left-menu {
    transform: translateX(-100%);

    &.active {
      transform: translateX(0);
    }
  }
}

@media (min-width: 1120px) {

  .left-menu {
    transform: translateX(0);
    transition: 0.3s;
    position: fixed;
  }

  .main-content {
    margin-left: $sidebar-width;
  }

  .burger {
    display: none;
  }
}
