@use 'variables' as *;
@use 'mixin' as *;

.left-menu {
  display: flex;
  flex-direction: column;
  max-width: $sidebar-width;
  height: 100%;

  background-color: $white;
  box-shadow: $sidebar-shadow;

  position: fixed;
  z-index: 10000;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease;



  &-header {
      background-color: $white;
    padding-top: 18px;

    .left-icon {
      margin-left: 10px;
    }

    .right-icon {
      margin-left: 90px;
    }
  }
}

.left-menu-close{
  background: none;
  border: none;
}

.left-menu.active {
  transform: translateX(0);
}

.servis {
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 50.46px;

  &__item {
    display: flex;
    background: transparent;
    border: none;
    font-size: 16px;
    padding-left: 24px;

    &:hover {
      border-left: 4px solid $accent;
      color: $text-hover;
    }
  }
}

.contact-inf {
  background-color: $white;
  margin: 0 76px 40px 24px;
  margin-top: auto;
  gap: 10px;

  img {
    margin-right: 10px;
  }

  .contact-number {
    font-size: 24px;
    background-color: $white;
  }
}

.lang {
  background-color: $white;
  display: flex;
  margin: 0 209px 10px 24px;
  gap: 7px;

  &_item {
    &:hover {
      color: $text-hover;
    }
  }
}

.inf-type {
  display: inline-flex;
  img{
        background-color: $white;
  }
}

.right-menu-text {
  position: relative;
  top: -1000px;
  left: 350px;
  z-index: 1;
}

@media (min-width:$desktop) {
  .left-menu {
    box-shadow: none;
    transform: translateX(0);
  }

  .burger {
    display: none;
  }

  .main-content {
    margin-left: 320px;
  }
  
}

