@use 'variables' as *;

@font-face{
    font-family: 'TTLakes';
    src: url(../fonts/TTLakes/TTLakes-Regular.ttf) format("truetype");
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: $gap-mobile;
  background: $bg-white;
  border-bottom: 1px solid $accent-cyan;

  @media (min-width: $desktop) {
    display: none;
  }

  &__left {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: $gap-mobile;
    .burger{
      background: none;
      border: none;
    }

    @media (min-width: $desktop) {
      gap: $gap-tablet;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: $gap-mobile;

    @media (min-width: $desktop) {
      gap: $gap-tablet;
    }
  }

  &__divider-tablet {
    display: none;

    @media (min-width: $desktop) {
      display: block;
    }
  }
}

.about {
    
    border-left: 4px solid $accent-cyan;
    padding-left: 16px;
    margin: 0;
    color: black;
    @media(min-width: $desktop){
        display: none;
    }
}

/* DESKTOP MENU */
.upper-menu {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8;
  }

  h2 {
    border-left: 4px solid $accent-cyan;
    padding-left: 16px;
    font-size: 28px;
    margin: 0;
    color: black;
  }

  &__right {
    display: flex;
    gap: 32px;
    color: black;
  }
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  span {
    font-weight: 500;
  }
}