@use 'variables' as *;
@use 'mixin' as *;

.repair-tech h1 {
  background: $bg-gradient;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  padding: 16px;
  border-top: 1px solid $border-accent;
  color: black;
}

.repair {
  gap: 32px;
  box-sizing: border-box;
  &-swiper {
    display: flex;
    padding-bottom: 40px;
    @media (min-width: $desktop) {
      transition: max-height 0.3s ease;
      .repair-swiper {
        width: 100%;
      }

      .repair-swiper .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 16px;
      }

      .repair-swiper .swiper-slide {
        width: 100% !important;
      }
    }
  }

  .repair-item {
    display: flex;
    align-items: start;
    background-color: $white;
    padding: 16px;
    width: 240px;
    height: 160px;
    border: 1px solid $border-card;
    position: relative;
    &_next {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }
}
.repair-pagination {
  @media (min-width: $desktop) {
    display: none;
  }
}

@media (min-width: $desktop) {
  .repair {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}

.container-box-button-next {
  margin: 16px;
}

.show-more {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
    margin-top: 24px;
  }
}

.buttonShowMore {
  @include btn-reset;
  font-size: 16px;
  color: $text-main;

  &:hover {
    color: $accent;
  }
}
