// BRANDS
$bg-gradient: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
$border-accent: #d9fff5;
$border-card: #eaeaea;
$text-main: #1b1c21;
$accent: #41f6d7;
$white: #fff;

$table: 760px;
$desktop: 1120px;

$radius: 6px;

// MAIN-MENU
$color-white: #FFFFFF;
$color-accent: #B8FFEC;

// HEADER
$accent-cyan: #41F6D7;
$bg-white: #fff;

$gap-mobile: 15px;
$gap-tablet: 20px;

// BURGER
$sidebar-width: 320px;
$sidebar-bg: #fff;
$sidebar-shadow: 16px 0 52px 0 #0E185033;
$text-hover: #7E7E82;
$transition: 0.3s ease;