@use 'variables' as *;
@use 'mixin' as *;

.footer-inf {
  margin-top: 40px;
  text-align: center;
  margin-left: 24px;
}

@media (min-width: $table) {
  .footer-inf {
    display: flex;
    margin-left: 24px;
    justify-content: space-between;
    align-items: center;
    &_left {
      text-align: start;
    }
    &_right {
      text-align: end;
    }
  }
}
