@use 'brands';
@use 'burger';
@use 'header';
@use 'main-menu';
@use 'repair-tech';

@use 'mixin';
@use 'variables';

@font-face{
    font-family: 'TTLakes';
    src: url(../fonts/TTLakes/TTLakes-Regular.ttf) format("truetype");
}

*{
    font-family:'TTLakes-Regular', sans-serif;
    box-sizing: border-box;
    color:#7E7E82 ;
}
