@use 'brands';
@use 'burger';
@use 'header';
@use 'main-menu';
@use 'repair-tech';
@use 'price';
@use 'footer';

@use 'mixin';
@use 'variables';

@font-face{
    font-family: 'TTLakes';
    src: url(../fonts/TTLakes/TTLakes-Regular.ttf) format("truetype");
}

*{
    font-family:'TTLakes', sans-serif;
    box-sizing: border-box;
}

body{
    background-color:red;
}

.main-content{
    box-sizing: border-box;
}
